<div class="row g-3">
  <div class="col-md-6">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" #BookTitle />
  </div>
  <div class="col-md-6">
    <label for="author" class="form-label">Author</label>
    <input type="text" name="author" class="form-control" #BookAuthor />
  </div>
  <div class="col-md-6">
    <label for="publication_year" class="form-label">Publication Year</label>
    <input type="text" name="publication_year" class="form-control" #BookPublicationYear />
  </div>
  <div class="col-12">
    <button class="btn btn-danger me-2" (click)="clearInputs()">Clear Inputs </button>
    <button class="btn btn-primary" (click)="addbook()">Add Book</button>
  </div>
</div>
